@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --font-size: 16px;

  /* Theme */
  --background: #ffffff;
  --foreground: #111111;

  /* Card */
  --card: #ffffff;
  --card-foreground: #111111;

  /* Input */
  --input-background: #ededed;

  /* Navbar */
  --navbar-background: #ededed;

  /* Footer */
  --footer-background: #ededed;

  /* Search */
  --search-tab-background: #ededed;
  --search-input-background: #ffffff;

  /* Border */
  --border: #e5e5e5;

  /* Ring */
  --ring: #1e40af;

  /* Text */
  --text-body: #8b8d98;
  --text-secondary: #8b8d98;

  /* Primary */
  --primary: #1e40af;
  --primary-foreground: #ffffff;

  /* Muted */
  --muted: #ececf0;
  --muted-foreground: #717182;

  --radius: 0.625rem;

  --font-weight-medium: 500;
  --font-weight-normal: 400;
}

.dark {
  /* Theme */
  --background: #212121;
  --foreground: #ffffff;

  /* Card */
  --card: #2a2a2a;
  --card-foreground: #ffffff;

  /* Input */
  --input-background: #353535;

  /* Navbar */
  --navbar-background: #272727;

  /* Footer */
  --footer-background: #272727;

  /* Search */
  --search-tab-background: #272727;
  --search-input-background: #353535;

  /* Border */
  --border: #3a3a3a;

  /* Ring */
  --ring: #1e40af;

  /* Text */
  --text-body: #ffffff;
  --text-secondary: #ffffff;

  /* Primary */
  --primary: #ffffff;
  --primary-foreground: #212121;

  /* Muted */
  --muted: #353535;
  --muted-foreground: #b9bbc6;
}

@theme inline {
  /* Background */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Card */
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  /* Input */
  --color-input-background: var(--input-background);

  /* Navbar */
  --color-navbar-background: var(--navbar-background);

  /* Footer */
  --color-footer-background: var(--footer-background);
  /* Search */
  --color-search-tab-background: var(--search-tab-background);
  --color-search-input-background: var(--search-input-background);

  /* Border */
  --color-border: var(--border);

  /* Ring */
  --color-ring: var(--ring);

  /* Text */
  --color-text-body: var(--text-body);
  --color-text-secondary: var(--text-secondary);

  /* Primary */
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  /* Muted */
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  /* Static */

  --color-primary500: #1e40af;
  --color-primary600: #1b3a9f;
  --color-primary700: #152d7c;

  --color-orange: #ff220c;

  --color-neutral-200: #f0f0f3;
  --color-neutral-500: #d9d9e0;

  --color-shadow: #48484829;

  --color-gray3: #b9bbc6;
  --color-gray4: #cdced6;

  --color-black: #000000;
  --color-white: #fffffa;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: var(--font-size);
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }

  h1 {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h2 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h3 {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h4 {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  label,
  button {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  input {
    font-size: var(--text-base);
    font-weight: var(--font-weight-normal);
    line-height: 1.5;
  }
}

/* Login Swiper */

.login-swiper .swiper-pagination {
  bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.login-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #ffffff !important;
  opacity: 0.7 !important;
  border-radius: 9999px;
  transition: 0.3s;
  margin: 0 !important;
}

.login-swiper .swiper-pagination-bullet-active {
  width: 28px !important;
  height: 10px !important;
  background-color: #1e40af !important;
  opacity: 1 !important;
  border-radius: 9999px;
}
